In [23]:
import yfinance as yf
import pandas as pd
import sqlite3

# 1. Calculo de Variacion: consultando API de YFinance

In [ ]:
# Lista de tuplas 
companies = [ 
  ("apple-computer-inc", "AAPL"),
  ("microsoft-corp", "MSFT"),
  ("google-inc", "GOOGL"),
  ("tesla-motors", "TSLA"),
  ("visa-inc", "V"),
  ("berkshire-hathaway-inc", "BRK.A"),
  ("johnson-johnson", "JNJ"),
  ("pfizer", "PFE"),
  ("amazon-com-inc", "AMZN"),
  ("disney", "DIS"),
  ("nike", "NKE"),
  ("procter-gamble", "PG"),
  ("coca-cola-co", "KO"),
  ("chevron", "CVX"),
  ("3m-co", "MMM")
]

# # Crear DataFrame
# df = pd.DataFrame(companies, columns=["Empresa", "Ticker"])

# # Mostrar DataFrame
# df.head()

              Empresa Ticker
0  apple-computer-inc   AAPL
1      microsoft-corp   MSFT
2          google-inc  GOOGL
3        tesla-motors   TSLA
4            visa-inc      V

In [22]:
# Función para calcular la variación de precios
def calcular_variacion_anual(ticker, year):
    try:
        # Descargar datos históricos
        data_inicio = yf.download(ticker, start=f'{year}-01-01', end=f'{year}-01-05')
        data_fin = yf.download(ticker, start=f'{year}-12-27', end=f'{year}-12-30')

        # Verificar que los datos no estén vacíos
        if data_inicio.empty or data_fin.empty:
            return None  # Evita errores si no hay datos
        
        # Precio de cierre en las fechas deseadas
        precio_inicial = data_inicio.iloc[0]['Close'].item()
        precio_final = data_fin.iloc[-1]['Close'].item()

        # Calcular variación
        variacion = ((precio_final / precio_inicial) - 1) * 100
        return variacion

    except Exception as e:
        print(f"Error con {ticker}: {e}")
        return None  # En caso de error, asignar None

# Años a analizar
years = [2020, 2021, 2022, 2023, 2024]

# Crear una lista para almacenar los resultados
data = []

# Iterar sobre cada empresa y año para calcular la variación
for company_name, ticker in companies:
    for year in years:
        variacion = calcular_variacion_anual(ticker, year)
        data.append([company_name, ticker, year, variacion])

# Crear DataFrame
df = pd.DataFrame(data, columns=["Empresa", "Ticker", "Ejercicio", "Variacion"])

# Mostrar resultado
df.head(10)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['BRK.A']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['BRK.A']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['BRK.A']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['BRK.A']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['BRK.A']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['BRK.A']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['BRK.A']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['BRK.A']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['BRK.A']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['BRK.A']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

              Empresa Ticker  Ejercicio  Variacion
0  apple-computer-inc   AAPL       2020  81.168309
1  apple-computer-inc   AAPL       2021  39.468246
2  apple-computer-inc   AAPL       2022 -28.376352
3  apple-computer-inc   AAPL       2023  54.798238
4  apple-computer-inc   AAPL       2024  38.354959
5      microsoft-corp   MSFT       2020  41.031352
6      microsoft-corp   MSFT       2021  58.397869
7      microsoft-corp   MSFT       2022 -27.328355
8      microsoft-corp   MSFT       2023  58.349752
9      microsoft-corp   MSFT       2024  16.954590

In [32]:
def save_datos_variacion(df):
    # Conectar a la base de datos (o crearla si no existe)
    conn = sqlite3.connect('webmining.db')
    cursor = conn.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS datos_variacion (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        company TEXT NOT NULL,
        ticker TEXT NOT NULL,
        ejercicio INTEGER NOT NULL,
        variacion REAL
    )
    ''')
    
    cursor.execute('''
    DELETE FROM datos_variacion 
    
    ''')
    
    df.rename(columns={'Empresa': 'company', 'Ticker': 'ticker', 'Ejercicio' : 'ejercicio', 'Variacion' : 'variacion'}, inplace=True)

    df.to_sql('datos_variacion', conn, if_exists='append', index=False)
    conn.commit()
    # Cerrar la conexión
    conn.close()    
    
save_datos_variacion(df)

In [31]:
df.head(1)

              Empresa Ticker  Ejercicio  Variacion
0  apple-computer-inc   AAPL       2020  81.168309

Borrar Tabla

In [30]:
conn = sqlite3.connect('webmining.db')
cursor = conn.cursor()
cursor.execute('''
DROP TABLE  datos_variacion 
''')
conn.commit()
    # Cerrar la conexión
conn.close()

Consultar Tabla

In [33]:
import sqlite3

# Conectar a la base de datos
conn = sqlite3.connect('webmining.db')
cursor = conn.cursor()

# Ejecutar el SELECT
cursor.execute('SELECT * FROM datos_variacion')

# Obtener todos los resultados
resultados = cursor.fetchall()

# Mostrar los resultados
for fila in resultados:
    print(fila)

# Cerrar la conexión
conn.close()

(1, 'apple-computer-inc', 'AAPL', 2020, 81.16830901979218)
(2, 'apple-computer-inc', 'AAPL', 2021, 39.46824607878108)
(3, 'apple-computer-inc', 'AAPL', 2022, -28.376351767774246)
(4, 'apple-computer-inc', 'AAPL', 2023, 54.79823770321342)
(5, 'apple-computer-inc', 'AAPL', 2024, 38.354958595509416)
(6, 'microsoft-corp', 'MSFT', 2020, 41.03135170983994)
(7, 'microsoft-corp', 'MSFT', 2021, 58.39786890560816)
(8, 'microsoft-corp', 'MSFT', 2022, -27.32835482534439)
(9, 'microsoft-corp', 'MSFT', 2023, 58.349752226337024)
(10, 'microsoft-corp', 'MSFT', 2024, 16.954590118710012)
(11, 'google-inc', 'GOOGL', 2020, 28.427392050341993)
(12, 'google-inc', 'GOOGL', 2021, 69.9234536627307)
(13, 'google-inc', 'GOOGL', 2022, -38.996432359647415)
(14, 'google-inc', 'GOOGL', 2023, 56.743725353327214)
(15, 'google-inc', 'GOOGL', 2024, 40.01503325058091)
(16, 'tesla-motors', 'TSLA', 2020, 673.9390373235624)
(17, 'tesla-motors', 'TSLA', 2021, 48.84004077513402)
(18, 'tesla-motors', 'TSLA', 2022, -69.53941560483538)
(19, 'tesla-motors', 'TSLA', 2023, 129.8612388852389)
(20, 'tesla-motors', 'TSLA', 2024, 73.76217971330405)
(21, 'visa-inc', 'V', 2020, 12.855557021970787)
(22, 'visa-inc', 'V', 2021, 0.8037298441516461)
(23, 'visa-inc', 'V', 2022, -5.327251160044422)
(24, 'visa-inc', 'V', 2023, 26.533339920327315)
(25, 'visa-inc', 'V', 2024, 24.03742668069939)
(26, 'berkshire-hathaway-inc', 'BRK.A', 2020, None)
(27, 'berkshire-hathaway-inc', 'BRK.A', 2021, None)
(28, 'berkshire-hathaway-inc', 'BRK.A', 2022, None)
(29, 'berkshire-hathaway-inc', 'BRK.A', 2023, None)
(30, 'berkshire-hathaway-inc', 'BRK.A', 2024, None)
(31, 'johnson-johnson', 'JNJ', 2020, 8.4678096591994)
(32, 'johnson-johnson', 'JNJ', 2021, 12.379154579147688)
(33, 'johnson-johnson', 'JNJ', 2022, 6.228966405523884)
(34, 'johnson-johnson', 'JNJ', 2023, -9.368478113068157)
(35, 'johnson-johnson', 'JNJ', 2024, -6.456114017791625)
(36, 'pfizer', 'PFE', 2020, 3.8474680224926727)
(37, 'pfizer', 'PFE', 2021, 62.54536530293633)
(38, 'pfizer', 'PFE', 2022, -6.448348549685257)
(39, 'pfizer', 'PFE', 2023, -41.28702898660788)
(40, 'pfizer', 'PFE', 2024, -4.987516503142708)
(41, 'amazon-com-inc', 'AMZN', 2020, 75.02543252169542)
(42, 'amazon-com-inc', 'AMZN', 2021, 6.194322534998009)
(43, 'amazon-com-inc', 'AMZN', 2022, -50.59989457027987)
(44, 'amazon-com-inc', 'AMZN', 2023, 77.04498133500893)
(45, 'amazon-com-inc', 'AMZN', 2024, 49.236317568461516)
(46, 'disney', 'DIS', 2020, 19.635633628190362)
(47, 'disney', 'DIS', 2021, -12.837683462669336)
(48, 'disney', 'DIS', 2022, -44.38631454277405)
(49, 'disney', 'DIS', 2023, 1.8143837235537585)
(50, 'disney', 'DIS', 2024, 24.08907578387387)
(51, 'nike', 'NKE', 2020, 39.842615175667184)
(52, 'nike', 'NKE', 2021, 21.37696739160395)
(53, 'nike', 'NKE', 2022, -27.97060293989998)
(54, 'nike', 'NKE', 2023, -7.39083962579098)
(55, 'nike', 'NKE', 2024, -27.047503069675294)
(56, 'procter-gamble', 'PG', 2020, 14.932935908152722)
(57, 'procter-gamble', 'PG', 2021, 22.130102821239596)
(58, 'procter-gamble', 'PG', 2022, -4.003636864850357)
(59, 'procter-gamble', 'PG', 2023, -0.8641941404808007)
(60, 'procter-gamble', 'PG', 2024, 16.81491315293968)
(61, 'coca-cola-co', 'KO', 2020, 1.804610251333183)
(62, 'coca-cola-co', 'KO', 2021, 15.254887626428237)
(63, 'coca-cola-co', 'KO', 2022, 11.032014031783731)
(64, 'coca-cola-co', 'KO', 2023, -3.4325635997922044)
(65, 'coca-cola-co', 'KO', 2024, 7.584962889042091)
(66, 'chevron', 'CVX', 2020, -26.37388889876252)
(67, 'chevron', 'CVX', 2021, 46.5378417220345)
(68, 'chevron', 'CVX', 2022, 54.90809193835491)
(69, 'chevron', 'CVX', 2023, -10.902568663379542)
(70, 'chevron', 'CVX', 2024, 0.48413726459539674)
(71, '3m-co', 'MMM', 2020, 0.1796337290151495)
(72, '3m-co', 'MMM', 2021, 7.1001532411703705)
(73, '3m-co', 'MMM', 2022, -29.28868542447345)
(74, '3m-co', 'MMM', 2023, -5.340947422399401)
(75, '3m-co', 'MMM', 2024, 46.44731192663558)

# 2. Busqueda de sector de empresa usando API de YFinance

In [ ]:
# Lista de tuplas 
companies = [ 
  ("apple-computer-inc", "AAPL"),
  ("microsoft-corp", "MSFT"),
  ("google-inc", "GOOGL"),
  ("tesla-motors", "TSLA"),
  ("visa-inc", "V"),
  ("berkshire-hathaway-inc", "BRK.A"),
  ("johnson-johnson", "JNJ"),
  ("pfizer", "PFE"),
  ("amazon-com-inc", "AMZN"),
  ("disney", "DIS"),
  ("nike", "NKE"),
  ("procter-gamble", "PG"),
  ("coca-cola-co", "KO"),
  ("chevron", "CVX"),
  ("3m-co", "MMM")
]

In [41]:
# Función para calcular la variación de precios
def buscar_sector(ticker):
    try:
        return yf.Ticker(ticker).info["sector"]
    except Exception as e:
        print(f"Error con {ticker}: {e}")
        return None  # En caso de error, asignar None



# Crear una lista para almacenar los resultados
data = []

# Iterar sobre cada empresa y año para calcular la variación
for company_name, ticker in companies:
    sector = buscar_sector(ticker)
    data.append([company_name, ticker, sector])

# Crear DataFrame
df = pd.DataFrame(data, columns=["Empresa", "Ticker", "Sector"])

# Mostrar resultado
df.head(10)

Error con BRK.A: 'sector'

                  Empresa Ticker                  Sector
0      apple-computer-inc   AAPL              Technology
1          microsoft-corp   MSFT              Technology
2              google-inc  GOOGL  Communication Services
3            tesla-motors   TSLA       Consumer Cyclical
4                visa-inc      V      Financial Services
5  berkshire-hathaway-inc  BRK.A                    None
6         johnson-johnson    JNJ              Healthcare
7                  pfizer    PFE              Healthcare
8          amazon-com-inc   AMZN       Consumer Cyclical
9                  disney    DIS  Communication Services

In [43]:
def save_datos_variacion(df):
    # Conectar a la base de datos (o crearla si no existe)
    conn = sqlite3.connect('webmining.db')
    cursor = conn.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS datos_sector (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        company TEXT NOT NULL,
        ticker TEXT NOT NULL,
        sector TEXT NULL
    )
    ''')
    
    cursor.execute('''
    DELETE FROM datos_sector 
    ''')
    
    df.rename(columns={'Empresa': 'company', 'Ticker': 'ticker', 'Sector' : 'sector'}, inplace=True)

    df.to_sql('datos_sector', conn, if_exists='append', index=False)
    conn.commit()
    # Cerrar la conexión
    conn.close()    
    
save_datos_variacion(df)

Consultar tabla

In [ ]:
# Conectar a la base de datos
conn = sqlite3.connect('webmining.db')
cursor = conn.cursor()

# Ejecutar el SELECT
cursor.execute('SELECT * FROM datos_sector')

# Obtener todos los resultados
resultados = cursor.fetchall()

# Mostrar los resultados
for fila in resultados:
    print(fila)

# Cerrar la conexión
conn.close()

(1, 'apple-computer-inc', 'AAPL', 'Technology')
(2, 'microsoft-corp', 'MSFT', 'Technology')
(3, 'google-inc', 'GOOGL', 'Communication Services')
(4, 'tesla-motors', 'TSLA', 'Consumer Cyclical')
(5, 'visa-inc', 'V', 'Financial Services')
(6, 'berkshire-hathaway-inc', 'BRK.A', None)
(7, 'johnson-johnson', 'JNJ', 'Healthcare')
(8, 'pfizer', 'PFE', 'Healthcare')
(9, 'amazon-com-inc', 'AMZN', 'Consumer Cyclical')
(10, 'disney', 'DIS', 'Communication Services')
(11, 'nike', 'NKE', 'Consumer Cyclical')
(12, 'procter-gamble', 'PG', 'Consumer Defensive')
(13, 'coca-cola-co', 'KO', 'Consumer Defensive')
(14, 'chevron', 'CVX', 'Energy')
(15, '3m-co', 'MMM', 'Industrials')